* {
    box-sizing: border-box;
}

html body{
    height: 100%;
    margin: 0;
}

body {
    background: url('../images/cork-wallet.png');
    font-size: 18px;
    line-height: 34px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h2,p  {
    margin-bottom: 0;
    }

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #4aaaa5;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #cccccc;
    padding-bottom: 20px;
}

/*NavBar*/

#top_bar {
    background-color: #ffffff;
    margin: 0 0 30px 0;
    z-index: 99;
    color: #ffffff;
    overflow: auto;
    border-bottom: 2px solid #cccccc;
    position: fixed;
    width: 100%;
}

#name {
    width: 300px;
    height: 130px;
    background-color: #4aaaa5;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 130px;
    color: #ffffff;
    font-weight: 700px;
    font-size: 38px;
    text-decoration: none;
}

#name:hover {
    background-color: #666666;
}

nav {
    float: right;
    margin-top: 75px;
}

nav a {
    color: #777777;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    line-height: 18px;
    border-left: 1px solid #4aaaa5;
    padding-left: 15px;

}

nav a:hover {
    color: black;
}

nav a:first-child {
    border-left: 0 none;
}

/*MainBody*/

#main-container {
    padding-top: 170px;
}

.main {
    background-color: #ffffff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 960px;
    float: left;
    border: 1px solid #dddddd;
    margin-bottom: 19%;
}

.page-image {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    float: left;
    margin-right: 25px;
}

/* Footer */

footer {
    background-color: #666666;
    color: #ffffff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #cccccc;
    font-size: 12px;
    text-align: center;
    position: relative;
    bottom: 0;
}

/* Portfolio Page */

.projects {
    width: 273px;
    overflow: auto;
    float: left;
    margin: 0px 0 25px 0;
    position: relative;
}

.projects:nth-child(even) {
    margin-right: 40px;
}

.projects h3 {
    border-bottom: 0;
    background-color: #4aaaa5;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    bottom: 20px;
    padding: 15px;
    width: 250px;
    margin-bottom: 0;
    line-height: 30px;
    position: absolute;
}

.projects h3:hover {
    background-color: #666666;
}


/* contact page */

#conact-form ul {
    margin-bottom: 25px;
}

#contact-form li {
    margin-bottom: 15px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 900px;
}

input[type=text],
input[type=email],
textarea {
    height: 25px;
    border: 1px solid #dddddd;
    padding: 0 15px;
    font-size: 16px;
}

textarea {
    height: 120px;
}

input[type=submit] {
    background-color: #4aaaa5;
    border: 0 none;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 25px;
    cursor: pointer;
}

@media (max-width: 980px) {
    .container {
        padding: 0 15px;
        max-width: 768px;
    }
    #main-container {
        padding-top: 170px;
    }
    .main {
        max-width: 768px;
    }
    label,
input[type=text],
input[type=email],
textarea {
    display: block;
    max-width: 675px;
    }

}


@media (max-width:645px) {
    #top_bar {
        position: static;
        margin-bottom: 20px;
    }
    #name {
        width: 645px;
        width: 100%;
       ,margin: 0;
    }

    #main-container {
        padding-top: 0;
    }

    nav {
        text-align: center;
        width: 100%;
        margin: 15px 0;
    }

    input[type=text],
input[type=email],
textarea {
    display: block;
    max-width: 475px;
}
.page-image, .projects, .projects h3 {
    width: 100%;
}
}